{
    "debug": true,
    "host": "0.0.0.0",
    "port": 6001,
    "appManager.array.apps": [
        {
            "id": "alcess",
            "key": "Alcess",
            "secret": "YOUR_SECRET_HERE"
        }
    ]
}
